{% extends 'med/base.html' %}

{% block head_text %}
    <h1>{{title}}</h1>
{% endblock %}

{% block content %}
    {% for doctor in doctors %}
        <div class="doctor">
            <h1><a class="doctor_name" href="{% url 'current_doctor' pk=doctor.pk %}">{{ doctor.name }}</a></h1>
            {% if doctor.specialization %}
            <p class="specialization" >Специализация: {{  specialization.name }}
                {% for specialization in doctor.specialization.all %}
                <a href="{% url 'current_specialization' pk=specialization.pk %}">{{ specialization.name }}</a>
                {% endfor %}
            </p>
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}