{% load static %}

<html>
    <head>
        <title>Med-online</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto&subset=latin,cyrillic" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/med.css' %}">
    </head>
    <body>
        <div class="head-menu">
            <a href="/">Главная</a>
            <a href="/med/doctors">Доктора</a>
            <a href="/med/specializations">Специализации</a>
        </div>
        <div class="head-text">
            {% block head_text %}
            {% endblock %}
        </div>
        <div class="content container">
            {% block content %}
            {% endblock %}
        </div>
    </body>
